@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    List<QuejaModel> quejas = ViewBag.quejas;
}
<section  id="seccionlogin" style="padding-right: 20px;
        padding-left: 20px;">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<table class="table-light table-bordered table-striped table-hover" style="width:100%" id="Quejas">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Urgencia Id</th>
            <th scope="col">Email</th>
            <th scope="col">Id tipo Queja</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (quejas != null)
        {
            @foreach (QuejaModel queja in quejas)
            {
                <tr>
                    <td>@queja.Id</td>
                    <td>@queja.Id_urgencia</td>
                    <td>@queja.Email</td>
                    <td>@queja.Id_tipo_queja</td>
                    <td>
                        @if (queja.Descripcion.Length >= 50)
                        {
                            @for (int i = 0; i <= 50; i++)
                            {
                                @queja.Descripcion[i]
                            }
                        }
                        else
                        {
                            @queja.Descripcion
                        }
                    </td>
                    <td>
                        <a target="_blank" asp-route-id="@queja.Id" asp-controller="QuejaSugerencia" asp-action="verQueja" type="button" class="btn btn-secondary" aria-label="Ver">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    </section>
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#Quejas').DataTable({
                responsive:true,
                language: {
                    "emptyTable": "No hay registros que atender",
                    "search": "Buscar:",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "zeroRecords": "Sin resultados encontrados",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}