@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Errores = ViewBag.errores;
}
@model QuejaModel
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
    <section id="seccionlogin" class="jumbotron">
        <h1 class="display-4">Formulario Quejas</h1>
        @if (Errores != null)
        {
            <div class="alert alert-danger" role="alert">
                @Errores
            </div>
        }
        @using (Html.BeginForm("addQueja", "QuejaSugerencia", FormMethod.Post, new { id = "Formulario" }))
        {
            @Html.AntiForgeryToken()
            <div id="smartwizard">
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="#step-1">
                            Datos de contacto
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-2">
                            Informacion de la queja
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Id_urgencia, new { @class = "col-sm-4 col-form-label" })
                            <div class="col">
                                @Html.TextBoxFor(x => x.Id_urgencia, new { @class = "form-control", placeholder = "N° urgencia.", type = "number", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(x => x.Id_urgencia, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Email, new { @class = "col-sm-4 col-form-label" })
                            <div class="col">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "name@example.com", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Id_tipo_queja, new { @class = "col-sm-4 col-form-label" })
                            <div class="col">
                                @Html.DropDownListFor(x => x.Id_tipo_queja, (IEnumerable<SelectListItem>)ViewBag.tipos, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Id_tipo_queja, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.Descripcion, new { @class = "col-sm-4 col-form-label" })
                            <div class="col">
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", rows = "5" })
                                @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    @section scripts{
        <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                var btnCancel = $('<button></button>').text('Cancelar')
                    .addClass('btn btn-danger')
                    .on('click', function () {
                        document.getElementById("Formulario").reset();
                        $('#smartwizard').smartWizard("reset");
                    });
                var btnFinish = $('<button id="Enviar"></button>').text('Enviar')
                    .addClass('btn btn-info disabled')
                    .attr("disabled", true)
                    .on('click', function () { document.getElementById("Formulario").submit(); });

                $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                    if (stepPosition === 'last') {
                        $('#Enviar').attr("disabled", false);
                        $("#Enviar").removeClass('disabled');
                    } else {
                        $('#Enviar').attr("disabled", true);
                        $("#Enviar").addClass('disabled');
                    }
                });

                $('#smartwizard').smartWizard({
                    selected: 0,
                    justified: true,
                    backButtonSupport: true,
                    theme: 'dots',
                    toolbarSettings: {
                        toolbarPosition: 'bottom',
                        toolbarButtonPosition: 'right',
                        showNextButton: true,
                        showPreviousButton: true,
                        toolbarExtraButtons: [btnCancel, btnFinish]
                    },
                    transition: {
                        animation: 'fade', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                        speed: '400',
                        easing: ''
                    },
                    lang: {
                        next: 'Siguiente',
                        previous: 'Anterior'
                    },
                });
            });
        </script>
    }