@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    UrgenciaModel u = ViewBag.urgencia;
    EmpleadoModel e = ViewBag.empleados;
    String Fecha = u.Fecha_nac.ToString("yyyy-MM-dd");
    List<AreaModel> areas = ViewBag.areas;
    List<EmpleadoModel> empleados = ViewBag.empleados;

}
@model UrgenciaModel

    <section>
        @using (Html.BeginForm("Editar", "Urgencias", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                @Html.LabelFor(u => u.Id, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBoxFor(u => u.Id,
                   new { @class = "form-control", placeholder = "Id.", disabled = "disabled", value = u.Id, autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Id, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Nombre, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Nombre", u.Nombre, new { @class = "form-control", disabled = "disabled", placeholder = "Nombre.", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Ap_paterno, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Ap_paterno", u.Ap_paterno,
                   new { @class = "form-control", placeholder = "Apellido paterno.", disabled = "disabled", value = u.Ap_paterno, autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Ap_paterno, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Ap_materno, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Ap_materno", u.Ap_materno,
                  new { @class = "form-control", placeholder = "Apellido materno.", disabled = "disabled", value = u.Ap_materno, autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Ap_materno, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Telefono, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Telefono", u.Telefono,
                   new { @class = "form-control", type = "number", disabled = "disabled", placeholder = "0123456789" })
                    @Html.ValidationMessageFor(x => x.Telefono, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.TelefonoF, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("TelefonoF", u.TelefonoF,
                   new { @class = "form-control", type = "number", disabled = "disabled", value = u.TelefonoF, placeholder = "0123456789" })
                    @Html.ValidationMessageFor(x => x.TelefonoF, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Email, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Email", u.Email,
                   new { @class = "form-control", type = "text", disabled = "disabled", value = u.Email, placeholder = "name@example.com" })
                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => Fecha, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Fecha_nac", Fecha,
                   new { @class = "form-control", type = "date", placeholder = "Fecha de nacimiento." })
                    @Html.ValidationMessageFor(x => x.Fecha_nac, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Nss, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Nss", u.Nss,
                   new { @class = "form-control", type = "number", disabled = "disabled", value = u.Nss, placeholder = "123456789" })
                    @Html.ValidationMessageFor(x => x.Nss, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.IdArea, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    <select id="IdArea" name="IdArea" class="form-control" required>
                        @foreach (AreaModel area in areas)
                        {
                            <option selected=@u.IdArea value="@area.Id">@area.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(e =>e.Id, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    <select id="IdArea" name="IdArea" class="form-control" required>
                        @foreach (EmpleadoModel empleado in empleados)
                        {
                            <option value="@empleado.Id">@empleado.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Descripcion, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextArea("Descripcion", u.Descripcion,
                   new { @class = "form-control", disabled = "disabled", placeholder = "Descripcion-" })
                    @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-2">
                    <button class="btn btn-primary btn-lg">Enviar.</button>
                </div>
                <div class="col col-2">
                    <input class="btn btn-danger btn-lg" type="reset" value="Cancelar">.
                </div>
            </div>
        }
    </section>
@*
    <section>
        @using (Html.BeginForm("Update", "Urgencias", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                @Html.LabelFor(u => u.Nombre, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Nombre", u.Nombre, new { @class = "form-control", placeholder = "Nombre.", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(u => u.Nombre, new { @class = "col-sm-4 col-form-label" })
                <div class="col">
                    @Html.TextBox("Nombre", u.Nombre, new { @class = "form-control", placeholder = "Nombre.", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
                </div>
            </div>
            <button>xdddddd</button>
        }
    </section>
*@
@*<form method="post">
        <input hidden id="Id" name="Id" value="@urgencia.Id" />
        <div class="row">
            <div class="col-lg-5">
                <label for="nombre">Nombre del pacinete:*</label>
            </div>
            <div class="col">
                <input id="nombre" name="nombre" type="text" alt="Nombre" placeholder="Pepe Problemas" value="@urgencia.Nombre" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="FechaNac">Fecha de nacimiento:*</label>
            </div>
            <div class="col">
                <input id="FechaNac" name="FechaNac" type="date" alt="Fecha de nacimiento" value="@fecha" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="email">Correo electronico:*</label>
            </div>
            <div class="col">
                <input id="email" name="email" type="email" alt="name@example.com" value="@urgencia.Email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="IdArea">Area de urgencia:*</label>
            </div>
            <div class="col">
                <select id="IdArea" name="IdArea" value="@urgencia.IdArea" required>
                    <option value="2">aaaaaa</option>
                    <option value="3">aaaasadasdaa</option>
                    <option value="4">adaa</option>
                    @foreach (AreaModel area in areas)
                    {
                        @if (area.Id == urgencia.IdArea)
                        {
                            <option value="@area.Id" selected>@area.Nombre</option>
                        }
                        else
                        {
                            <option value="@area.Id">@area.Nombre</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="Telefono">Telefono de contacto:*</label>
            </div>
            <div class="col">
                <input id="Telefono" name="Telefono" type="tel" alt="123456789" value="@urgencia.Telefono" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="TelefonoF">Telefono familiar (opcional):</label>
            </div>
            <div class="col">
                <input id="TelefonoF" name="TelefonoF" type="tel" alt="123456789" value="@urgencia.TelefonoF">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="nss">Numero de seguridad social:*</label>
            </div>
            <div class="col">
                <input id="nss" name="nss" type="number" alt="123456789" value="@urgencia.Nss" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label for="Descripcion">Descripcion de los malestares:*</label>
            </div>
            <div class="col-lg-7">
                <textarea id="Descripcion" name="Descripcion" type="text" required>@urgencia.Descripcion</textarea>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-2">
                <button class="btn btn-primary btn-lg" asp-controller="Urgencias" asp-action="Update">Enviar.</button>
            </div>
            <div class="col col-2">
                <button class="btn btn-danger btn-lg" type="reset">Cancelar.</button>
            </div>
        </div>
    </form>*@
