@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    UrgenciaModel u = ViewBag.urgencia;
    List<AreaModel> areas = ViewBag.areas;
    List<EmpleadoModel> empleados = ViewBag.empleados;
    DateTime dt = DateTime.Now;
    String fechaMin = dt.ToString("yyyy-MM-dd");
    dt=dt.AddDays(7);
    String fechaMax = dt.ToString("yyyy-MM-dd");
}
@model UrgenciaModel

<section>
    @using (Html.BeginForm("Update", "Urgencias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group row">
            @Html.LabelFor(u => u.Id, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Id" value="@u.Id" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Nombre, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Nombre" value="@u.Nombre" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Ap_paterno, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Ap_paterno" value="@u.Ap_paterno" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Ap_materno, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Ap_materno" value="@u.Ap_materno" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Telefono, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Telefono" value="@u.Telefono" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.TelefonoF, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="TelefonoF" value="@u.TelefonoF" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Email, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Email" value="@u.Email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Fecha_nac, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Fecha_nac" value="@u.Fecha_nac.ToString("yyyy-MM-dd")" class="form-control" type="date" min="@fechaMin" max="@fechaMax" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Nss, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Nss" value="@u.Nss" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.IdArea, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <select id="IdArea" name="IdArea" class="form-control" required>
                    @if (areas != null)
                    {
                        @foreach (AreaModel area in areas)
                        {
                            <option value="@area.Id">@area.Nombre</option>
                        }
                    }
                    else
                    {
                        <option value="0">Error</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.IdMedico, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <select id="IdMedico" name="IdMedico" class="form-control" required>
                    @if (empleados != null)
                    {
                        @foreach (EmpleadoModel empleado in empleados)
                        {
                            <option value="@empleado.Id">@empleado.Nombre @empleado.Ap_paterno @empleado.Ap_materno</option>
                        }
                    }
                    else
                    {
                        <option value="0">Error</option>
                    }

                </select>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(u => u.Descripcion, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <input readonly name="Descripcion" value="@u.Descripcion" class="form-control" />
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-2">
                <button class="btn btn-primary btn-lg">Asignar.</button>
            </div>
        </div>
    }
</section>