@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime dt = DateTime.Now;
    String fechaMin = dt.ToString("yyyy-MM-dd");
    dt = dt.AddDays(7);
    String fechaMax = dt.ToString("yyyy-MM-dd");
    List<AreaModel> areas = ViewBag.areas;
}
@model UrgenciaModel
<section  id="seccionlogin">
    @using (Html.BeginForm("Create", "Urgencias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group row">
            @Html.LabelFor(x => x.Nombre, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Nombre,
               new { @class = "form-control", placeholder = "Nombre.", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Ap_paterno, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Ap_paterno,
               new { @class = "form-control", placeholder = "Apellido paterno.", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Ap_paterno, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Ap_materno, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Ap_materno,
               new { @class = "form-control", placeholder = "Apellido materno.", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Ap_materno, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Telefono, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Telefono,
               new { @class = "form-control", type = "number", placeholder = "0123456789" })
                @Html.ValidationMessageFor(x => x.Telefono, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.TelefonoF, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.TelefonoF,
               new { @class = "form-control", type = "number", placeholder = "0123456789" })
                @Html.ValidationMessageFor(x => x.TelefonoF, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Email, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Email,
               new { @class = "form-control", type = "text", placeholder = "name@example.com" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Fecha_nac, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Fecha_nac,
               new { @class = "form-control", type = "date", min = fechaMin, max = fechaMax, placeholder = "Fecha de nacimiento." })
                @Html.ValidationMessageFor(x => x.Fecha_nac, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Nss, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextBoxFor(x => x.Nss,
               new { @class = "form-control", type = "number", placeholder = "123456789" })
                @Html.ValidationMessageFor(x => x.Nss, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.IdArea, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                <select id="IdArea" name="IdArea" class="form-control" required>
                    @foreach(AreaModel area in areas)
                    {
                        <option value="@area.Id">@area.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Descripcion, new { @class = "col-sm-4 col-form-label" })
            <div class="col">
                @Html.TextAreaFor(x => x.Descripcion,
               new { @class = "form-control", placeholder = "Descripcion-" })
                @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-2">
                <button class="btn btn-primary btn-lg">Enviar.</button>
            </div>
            <div class="col col-2">
                <input class="btn btn-danger btn-lg" type="reset" value="Cancelar">.
            </div>
        </div>
    }
</section>