@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    UrgenciaModel urgencia = ViewBag.urgencia;
    string estado=urgencia.Atendido==1?"Atendido":"En revision";
}
    <section  id="seccionlogin" class="jumbotron justify-content-md-end">
        <table class="table table-responsive-lg jumbotron-fluid">
            <thead>
                <tr>
                    <td scope="col">N Urgencia</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Telefono</td>
                    <td scope="col">Fecha consulta</td>
                    <td scope="col">NSS</td>
                    <td scope="col">Estado</td>

                </tr>
            </thead>
            <tbody>
                @if (urgencia != null)
                {

                    <tr>
                        <td>@urgencia.Id</td>
                        <td>@urgencia.Nombre @urgencia.Ap_paterno @urgencia.Ap_materno</td>
                        <td>@urgencia.Telefono</td>
                        <td>@urgencia.Fecha_nac.ToShortDateString()</td>
                        <td>@urgencia.Nss</td>
                        <td>@estado</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>